#include <zephyr/dt-bindings/input/input-event-codes.h>

/* Disable board peripherals that are not used by this application. */
&{/leds} { status = "disabled"; };
&{/buttons} { status = "disabled"; };
&{/pwmleds} { status = "disabled"; };

&uart0 { status = "disabled"; };
&uart1 { status = "disabled"; };
&i2c0 { status = "disabled"; };
&i2c1 { status = "disabled"; };
&spi0 { status = "disabled"; };
&spi2 { status = "disabled"; };
&spi3 { status = "disabled"; };
&qspi { status = "disabled"; };

/ {
    chosen {
        zephyr,display = &st7789_disp;
        zephyr,console = &cdc_acm_uart0;
    };

    vcc_ext: vcc_ext_regulator {
        compatible = "regulator-fixed";
        regulator-name = "vcc_ext";
        enable-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        startup-delay-us = <10000>;
        regulator-always-on;
    };

    encoder: encoder {
        compatible = "gpio-qdec";
        gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
                <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps-per-period = <4>;
        zephyr,axis = <INPUT_REL_WHEEL>;
        sample-time-us = <2000>;
        idle-timeout-ms = <200>;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

&pinctrl {
    spi1_custom_default: spi1_custom_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 11)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>;
        };
    };
    spi1_custom_sleep: spi1_custom_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 11)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>;
            low-power-enable;
        };
    };
};

&spi1 {
    status = "okay";
    cs-gpios = <&gpio1 13 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <&spi1_custom_default>;
    pinctrl-1 = <&spi1_custom_sleep>;
    pinctrl-names = "default", "sleep";

    st7789_disp: st7789@0 {
        compatible = "sitronix,st7789v";
        reg = <0>;
        spi-max-frequency = <24000000>;
        cmd-data-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
        width = <170>;
        height = <320>;
        x-offset = <35>;
        y-offset = <0>;
        vcom = <0x19>;
        gctrl = <0x35>;
        vrhs = <0x12>;
        vdvs = <0x20>;
        mdac = <0x00>;
        gamma = <0x01>;
        colmod = <0x05>;
        lcm = <0x2c>;
        porch-param = [0c 0c 00 33 33];
        cmd2en-param = [5a 69 02 01];
        pwctrl1-param = [a4 a1];
        pvgam-param = [d0 04 0d 11 13 2b 3f 54 4c 18 0d 0b 1f 23];
        nvgam-param = [d0 04 0c 11 13 2c 3f 44 51 2f 1f 1f 20 23];
        ram-param = [00 f0];
        rgb-param = [cd 08 14];
    };
};
