/ {
    /* 1. 在根节点内删除官方开发板预设的硬件，释放被占用的 GPIO */
    /delete-node/ leds;
    /delete-node/ buttons;
    /delete-node/ pwmleds;

    chosen {
        zephyr,display = &st7789_disp;
        zephyr,keyboard-scan = &kscan_matrix;
    };

    /* 外部 VCC 截止控制，开机自动输出 3.3V 给屏幕供电 */
    vcc_ext: vcc_ext_regulator {
        compatible = "regulator-fixed";
        regulator-name = "vcc_ext";
        enable-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        startup-delay-us = <10000>;
        regulator-always-on;
    };

    /* RKJXT 旋转编码器 (A/B相) */
    encoder: encoder {
        compatible = "gpio-qdec";
        gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
                <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps-per-period = <4>;
    };

    /* 3x4 矩阵按键 */
    kscan_matrix: kscan_matrix {
        compatible = "gpio-kscan";
        row-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>,
                    <&gpio0 20 GPIO_ACTIVE_HIGH>,
                    <&gpio0 22 GPIO_ACTIVE_HIGH>;
        col-gpios = <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpio1 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };
};

/* 2. 补全 SPI 硬件的正常态(default)与休眠态(sleep)引脚定义 */
&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 11)>,  /* P1.11 */
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>;  /* P0.09 */
        };
    };
    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 11)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>;
            low-power-enable;
        };
    };
};

/* 3. 挂载 ST7789 屏幕 */
&spi1 {
    status = "okay";
    cs-gpios = <&gpio1 13 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";

    st7789_disp: st7789@0 {
        compatible = "sitronix,st7789v";
        reg = <0>;
        spi-max-frequency = <24000000>;
        cmd-data-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>; /* P0.10 */
        width = <170>;
        height = <320>;
        x-offset = <35>;  
        y-offset = <0>;
        vcom = <0x19>;
        gctrl = <0x35>;
        vrhs = <0x12>;
        vdvs = <0x20>;
        mdac = <0x00>;
        gamma = <0x01>;
        colmod = <0x05>;
        lcm = <0x2c>;
        porch-param = [0c 0c 00 33 33];
        cmd2en-param = [5a 69 02 01];
        pwctrl1-param = [a4 a1];
        pvgam-param = [d0 04 0d 11 13 2b 3f 54 4c 18 0d 0b 1f 23];
        nvgam-param = [d0 04 0c 11 13 2c 3f 44 51 2f 1f 1f 20 23];
    };
};